In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from config import meteo_key
meteo_key

'kaPAMj3qAxjQQ3xglN9MT1uNBTH2BWDr'

In [23]:
url = "https://api.meteostat.net/v2/point/daily"


headers = ({'x-api-key':meteo_key})
params = ({'lat': '40.757786', 
           'lon': '-73.986347', 
           'start': '2019-01-01',
           'end': '2019-06-01'           
          })

response = requests.get(url, params = params, headers = headers).json()
response

# curl --header "x-api-key: kaPAMj3qAxjQQ3xglN9MT1uNBTH2BWDr" "https://api.meteostat.net/v2/point/daily?lat=40.757786&lon=-73.986347&start=2019-01-01&end=2019-06-30"

man_df = pd.DataFrame(response['data'])
man_df

           date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
0    2019-01-01  10.2   4.3  14.3   2.0     0  274.0    24  None  None  None
1    2019-01-02   3.6   1.6   4.9   0.0     0    NaN    12  None  None  None
2    2019-01-03   5.0  -0.1   7.1   0.0     0    NaN    14  None  None  None
3    2019-01-04   2.8  -1.7   7.7   0.0     0    NaN    12  None  None  None
4    2019-01-05   6.5   4.9   8.2  15.5     0  160.0    17  None  None  None
..          ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...
147  2019-05-28  20.3  17.1  24.3  19.6     0  164.0     9  None  None  None
148  2019-05-29  20.0  14.3  23.8  14.7     0    NaN    12  None  None  None
149  2019-05-30  16.1  14.3  19.9  13.2     0    NaN     9  None  None  None
150  2019-05-31  21.7  17.1  28.2   0.0     0  276.0    13  None  None  None
151  2019-06-01  22.0  17.1  26.0   0.0     0    NaN     9  None  None  None

[152 rows x 11 columns]